<![CDATA[ <BizAgiWSParam>
                       <domain>$domain</domain>
                       <userName>$username</userName>
                       <Cases>
                          <Case>
                             <Process>$consumoPersona</Process>
                             <Entities>
                                <SolicitudCredito>
                                   <Cliente>
                                       #if($typedocument)
                                            <Tipodeidentificacion>$typedocument</Tipodeidentificacion>
                                       #end
                                       #if($documentnumber)
                                            <NumeroIdentificacion>$documentnumber</NumeroIdentificacion>
                                       #end
                                       #if($apellido1)
                                            <Apellido1>$apellido1</Apellido1>
                                       #end
                                       #if($apellido2)
                                            <Apellido2>$apellido2</Apellido2>
                                       #end
                                       #if($nombre1)
                                            <Nombre1>$nombre1</Nombre1>
                                       #end
                                       #if($nombre2)
                                            <Nombre2>$nombre2</Nombre2>
                                      #end
                                      #if($fechanacimiento)
                                            <FechaNacimiento>$fechanacimiento</FechaNacimiento>
                                      #end
                                      <InformacionContacto>
                                         #if($telefono)
                                            <TelefonoResidencia>$telefono</TelefonoResidencia>
                                         #end
                                         #if($correo)
                                            <CorreoPersonal>$correo</CorreoPersonal>
                                         #end
                                         #if($correo)
                                            <CelularPersonal>$celular</CelularPersonal>
                                         #end
                                      </InformacionContacto>
                                      <InformacionFinanciera>
                                             #if($ingresosmensuales)
                                                <IngresosMensualesViabiliza>$ingresosmensuales</IngresosMensualesViabiliza>
                                             #end
                                      </InformacionFinanciera>
                                   </Cliente>
                                   <Vehiculo>
                                        #if($valorvehiculo)
                                            <ValorVehiculo>$valorvehiculo</ValorVehiculo>
                                        #end
                                   </Vehiculo>
                                        #if($autorizaCentrales)
                                            <AutorizaConsultaaCentrales>$autorizaCentrales</AutorizaConsultaaCentrales>
                                        #end
                                </SolicitudCredito>
                             </Entities>
                          </Case>
                       </Cases>
                    </BizAgiWSParam>]]>